@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.chart {
  display: flex;
  justify-content: center;
}

.drawer.open {
  transform: translateX(0);
  width: 25%;
}

.content-wrapper {
  padding: 1rem;
}

.main-content {
  transition: margin-left 0.3s ease-in-out;
}

.main-content.drawer-open {
  margin-left: 25%;
}

.button-base {
  position: fixed;
  top: 1rem;
  left: 1rem;
  transition: left 0.3s ease-in-out;
}

.button-open {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.button-close {
  position: fixed;
  top: 1rem;
  left: calc(1rem + 25%);
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}